#container{
	width: 720px;
	margin: 0 auto;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#marca{
	background: #9E9E9E;
	height: 100px;
	text-align: center;
	line-height: 100px;
}

#navegacao{
	background: #d1d1d1;
	width: 180px;
	padding-top: 20px;
	padding-bottom: 20px;
	float: left;

}

#conteudo{
	width: 520px;
	float: right;
}

#conteudo-principal{
	width: 320px;
	float: left;
}

#conteudo-secundario{
	width: 180px;
	float: right;
	background: #d1d1d1;
}

#rodape{
	clear: both;
	background: #9E9E9E;
	padding: 5px;
	text-align: center;
}

#conteudo-secundario h2,
#conteudo-secundario p{
	padding: 0 15px;
}

ul{
	list-style-type: none;
}

a{
	text-decoration: none;
	color: #FFF;
}

a:hover{
	color: #9E9E9E ;
}
